{% extends "tarot_server_base.html" %}

{% block head %}{% endblock %}

{% block body %}
    {% block navbar %}
        <div id="navbar">
            <a id="login" href="{{url_for('auth.login')}}">Login</a>
            <a id="login" href="{{url_for('auth.signup')}}">Signup</a>
        </div>
    {%  endblock %}
    <!-- Start flashed messages-->
    {% block flashes %}
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    {% if category == 'error' %}
                        <div style="color: red">
                            {{ message }}
                        </div>
                    {% elif category == 'success' %}
                        <div style="color: green">
                            {{ message }}
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endwith %}
    {% endblock %}
    <!-- End flashed messages -->
    {% block content %}{% endblock %}
{% endblock %}
