{% extends "tarot_server_base.html" %}

{% import 'macros/form_errors.j2' as form_errors %}

{% block head %}{% endblock %}

{% block body %}
    {% block navbar %}
        <div id="navbar">
            <a id="login" href="{{url_for('auth.login')}}">Login</a>
            <a id="signup" href="{{url_for('auth.signup')}}">Signup</a>
        </div>
    {%  endblock %}

    {{ form_errors.display_first_value(form.errors) }}

    {% block content %}{% endblock %}

    <script type="text/javascript">
        // Get the form element by its ID
        const form = document.getElementsByClassName('remove-required-tag')[0];

        // Check if the form exists
        if (form) {
            // Get all form elements
            const formElements = form.elements;

            // Loop over each form element
            for (let i = 0; i < formElements.length; i++) {
                // Remove the 'required' attribute from each element
                formElements[i].removeAttribute('required');
            }
        }
    </script>
{% endblock %}
