{% extends "auth/auth.html" %}

{% block title %}
    Login
{% endblock %}

{%  block content %}
    {% if form.errors %}
    <ul style="color: red">
        {% for error_list in form.errors.values() %}
            {%  for error in error_list %}
                <li>{{ error }}</li>
            {% endfor %}
        {% endfor %}
    </ul>
{% endif %}
    <form method="POST">
        {{ form.hidden_tag() }}

        {{ form.email.label }}
        {{ form.email() }}

        {{ form.password.label }}
        {{ form.password() }}

        {{ form.submit() }}
    </form>
{% endblock %}