{% extends "auth/auth.html" %}

{% block title %}
    Signup
{% endblock %}

{% block content %}
    <form method="post" class="remove-required-tag">
        {{ form.hidden_tag() }}
        {{ form.standard_signup.hidden_tag() }}
        {{ form.anon_signup.hidden_tag() }}

        {{ form.standard_signup.email.label }}
        {{ form.standard_signup.email(placeholder="Email") }}

        {{ form.standard_signup.reenter_email.label }}
        {{ form.standard_signup.reenter_email(placeholder="Reenter email") }}

        {{ form.standard_signup.password.label }}
        {{ form.standard_signup.password(placeholder="Password") }}

        {{ form.standard_signup.reenter_password.label }}
        {{ form.standard_signup.reenter_password(placeholder="Reenter password") }}

        <br><br>

        {{ form.agreements.label }}
        {{ form.agreements() }}

        <br><br>

        {{ form.standard_signup.submit_standard() }}
        {{ form.anon_signup.submit_anon() }}
    </form>
{% endblock %}