{% extends "auth/auth.html" %}

{% block title %}
    Signup
{% endblock %}

{%  block content %}
    <form method="post" id="signup-form">  <!-- TODO: can you render a form only with {{ form }} ? -->
        {{ form.hidden_tag() }}
        {{ form.standard_signup.hidden_tag() }}
        {{ form.anon_signup.hidden_tag() }}

        {{ form.standard_signup.email.label }}
        {{ form.standard_signup.email() }}

        {{ form.standard_signup.reenter_email.label }}
        {{ form.standard_signup.reenter_email() }}

        {{ form.standard_signup.password.label }}
        {{ form.standard_signup.password() }}

        {{ form.standard_signup.reenter_password.label }}
        {{ form.standard_signup.reenter_password() }}

        {{ form.agreements.label }}
        {{ form.agreements() }}

        {{ form.standard_signup.submit_standard() }}
        {{ form.anon_signup.submit_anon() }}
    </form>

    <!-- TODO: move script to auth -->
{% endblock %}