{% extends "tarot_server_base.html" %}

{% block title %}
    Menu
{% endblock %}

{% block body %}
    <div class="navbar">
        <a id="logout" href="{{url_for('auth.logout')}}">Logout</a>
        <a id="settings" href="{{ url_for('settings.settings') }}">Settings</a>
    </div>

    <h1>Menu</h1>

    <h2>Game!!!</h2>
    <form method="post">
        <label for="room-id">Room ID:</label>
        <input type="number"
               id="room-id"
               name="room-id"
               placeholder="Room id...">
        <button type="submit" name="join-game"
        >Join game with id</button>
        or
        <button type="submit" name="create-game">Create game</button>
    </form>

    <h2>User pages</h2>
    <form method="post">
        <label for="go-username">Username:</label>
        <input type="text" id="go-username" name="username" placeholder="Search username...">
        <button type="submit" name="search-user">Search user</button>
    </form>

{% endblock %}