{% extends "tarot_server_base.html" %}

{% import 'macros/form_errors.j2' as form_errors %}

{% block title %}
    Menu
{% endblock %}

{% block body %}
    <div class="navbar">
        <a id="logout" href="{{url_for('auth.logout')}}">Logout</a>
        <a id="settings" href="{{ url_for('settings.settings') }}">Settings</a>
        <a id="userSearch" href="{{ url_for('redirect.users') }}">UserSearch</a>
    </div>

    <h1>Menu</h1>

    <h2>Game!!!</h2>
    <div class="form-errors">
        {{ form_errors.display_first_value(forms['LobbyJoin'].errors) }}
    </div>
    <form method="post">
        {{ forms['LobbyJoin'].hidden_tag() }}

        {{ forms['LobbyJoin'].code.label }}
        {{ forms['LobbyJoin'].code(placeholder="Enter lobby code") }}

        {{ forms['LobbyJoin'].submit_join.label }}
        {{ forms['LobbyJoin'].submit_join(placeholder="Join") }}
    </form>
    <br>
    or
    <br>
    <br>
    <div class="form-errors">
        {{ form_errors.display_first_value(forms['LobbyCreate'].errors) }}
    </div>
    <form method="post">
        {{ forms['LobbyCreate'].hidden_tag() }}

        {{ forms['LobbyCreate'].submit_create.label }}
        {{ forms['LobbyCreate'].submit_create(placeholder="Create") }}
    </form>
{% endblock %}
